.section2,
.section3,
.section4,
.section5,
.section6 {
  height: 1000px;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  background-color: #fff;
}

.container {
  max-width: 1170px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.header::after {
  display: block;
  content: "";
  clear: both;
}

.header #logo {
  display: inline-block;
  text-decoration: none;
  margin: 35px 0 0;
  -webkit-transition: .5s;
  transition: .5s;
  color: #44c0c2;
  font-family: 'Lobster', cursive;
  font-size: 43px;
  font-weight: 400;
  line-height: 24px;
}

.header nav {
  float: right;
  margin-right: -20px;
}

.header li + li {
  margin-left: 15px;
}

.header li {
  float: left;
}

.header li a {
  display: block;
  text-decoration: none;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  border-bottom: 2px solid transparent;
  color: #484c55;
  padding: 37px 20px;
}

.header li a:hover {
  color: #44c0c2;
  background-color: #f8f9fb;
  border-bottom: 2px solid #44c0c2;
}

.header li .active {
  color: #44c0c2;
  background-color: #f8f9fb;
  border-bottom: 2px solid #44c0c2;
}

.headhesive {
  background-color: #fff;
  position: fixed;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 1000;
}

.headhesive--stick #logo {
  margin: 13px 0 0;
}

.headhesive--stick li a {
  padding: 15px 20px;
}

button {
  display: none;
  margin: 0 16px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

button span {
  display: block;
}

.grid-button {
  padding: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid-button .grid {
  width: 6.66667px;
  height: 6.66667px;
  background: #44c0c2;
  color: #44c0c2;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.grid-button.close .grid {
  -webkit-transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8);
  transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8);
}

.grid-button.rearrange .grid {
  -webkit-box-shadow: -12.5px -12.5px, 0 -12.5px, 12.5px -12.5px, -12.5px 0, 12.5px 0, -12.5px 12.5px, 0 12.5px, 12.5px 12.5px;
  box-shadow: -12.5px -12.5px, 0 -12.5px, 12.5px -12.5px, -12.5px 0, 12.5px 0, -12.5px 12.5px, 0 12.5px, 12.5px 12.5px;
}

.grid-button.rearrange.close .grid {
  -webkit-box-shadow: 0 -10px, 0 -20px, 10px 0, -20px 0, 20px 0, -10px 0, 0 20px, 0 10px;
  box-shadow: 0 -10px, 0 -20px, 10px 0, -20px 0, 20px 0, -10px 0, 0 20px, 0 10px;
}

.grid-button.collapse .grid {
  -webkit-box-shadow: -12.5px 0, -12.5px 12.5px, 12.5px 0, 12.5px -12.5px, 0 -12.5px, -12.5px -12.5px, 0 12.5px, 12.5px 12.5px;
  box-shadow: -12.5px 0, -12.5px 12.5px, 12.5px 0, 12.5px -12.5px, 0 -12.5px, -12.5px -12.5px, 0 12.5px, 12.5px 12.5px;
}

.grid-button.collapse.close .grid {
  -webkit-box-shadow: -10px 0, 0 0 transparent, 10px 0, 0 0 transparent, 0 -10px, 0 0 transparent, 0 10px, 0 0 transparent;
  box-shadow: -10px 0, 0 0 transparent, 10px 0, 0 0 transparent, 0 -10px, 0 0 transparent, 0 10px, 0 0 transparent;
}

.carousel {
  position: relative;
}

.carousel .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 100;
}

.carousel .slick-arrow:hover,
.carousel .slick-arrow:active {
  -webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, 0.75);
}

.carousel .arrow-left {
  left: 25px;
}

.carousel .arrow-right {
  right: 25px;
}

.carousel .slide-item {
  position: relative;
  outline: none;
}

.carousel .slide-item .overlay {
  background-color: rgba(68, 192, 194, 0.3);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.carousel .slide-item .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 40px 0;
}

.carousel .slide-item .caption h1 {
  text-shadow: 0.1px 1px 0 rgba(0, 0, 0, 0.16);
  font-size: 63px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 49px;
}

.carousel .slide-item .caption p {
  font-size: 23px;
  font-weight: 400;
  line-height: 37px;
  margin: 0 0 75px;
}

.carousel .slide-item .caption a {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  border: 2px solid #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 14px 40px;
  -webkit-transition: .3s;
  transition: .3s;
  outline: none;
}

.carousel .slide-item .caption a:hover {
  -webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 1199px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .carousel .slide-item .caption h1 {
    font-size: 50px;
    margin: 0 0 20px;
  }

  .carousel .slide-item .caption p {
    font-size: 18px;
    margin: 0 0 30px;
  }

  .carousel .slide-item .caption a {
    font-size: 20px;
    padding: 10px 30px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header {
    position: fixed;
    width: 100%;
  }

  .header #logo {
    margin: 15px 0;
  }

  .header nav {
    width: 100%;
    float: none;
    margin-right: 0;
  }

  .header .navlist {
    display: none;
  }

  .header li + li {
    margin-left: 0;
  }

  .header li {
    float: none;
    text-align: center;
  }

  .header li a {
    padding: 15px 20px;
  }

  button {
    display: block;
    position: absolute;
    top: 4px;
    right: 15px;
    margin: 0;
  }

  .vision {
    padding-top: 54px;
  }

  .carousel .slick-arrow {
    width: 35px;
    height: auto;
    top: 25%;
  }

  .carousel .arrow-left {
    left: 10px;
  }

  .carousel .arrow-right {
    right: 10px;
  }

  .carousel .slide-item .caption {
    position: inherit;
    top: 100%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 575px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}